<div class="modal-header">
    <h3 class="modal-title">Create new userAccount</h3>
</div>
<div class="modal-body">
    <div ng-show="isFree">That! username is taken or invalid</div>
    <alert ng-show="isServiceMissing">The server is currently unavailable (because it is overloaded or down for maintenance). Generally, this is a temporary state.</alert>

    <input type="text"  ng-model="Username" placeholder="Username" />
    <input type="password" ng-model="Password" placeholder="password"/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>